:root {
  --box-shadow-light: 0 0 10px #444;
  --box-shadow-dark: 0 0 10px #bbb;
  --color: #6c45c5;
  --border-radius: 15px;
  --background-color: #1230ae;
  --background-color-dark: #444;
  --background-color-light: white;
  --btn-color-dark: #7a1cac;
  --btn-color-light: #2e073f;
}
.header-parent {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color-light);
  padding: 10px 15px;
  margin: 10px 20px;
  /* border-radius: var(--border-radius);  مقدار border radius بسیار زیاد بود */
  border-radius: 10px;
}
 .leftside{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
} 

.login{
  display: flex;
  align-items: center;
}
.btnLogin{
    background-color: #c910c9;
    color: white;
    width: 15rem;
    height: 3.5rem;
    border-radius: 50rem;
    font-size: 27px;
    border: 1px solid #ad03ad;
    padding-right: 3rem;
}
.two-items{
  display: flex;
}
.icon2{
  font-size: 35px;
  color: white;
  margin-left: -3.5rem;
}
.shop{
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
}
.shops{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50rem;
    background-color:  #c910c9;
    border: 1px solid #ad03ad;
}
.icon1{
  font-size: 32px;
  color: white;
  margin-left: -44px;

}
.btnLogin:hover{
  color:#2e073f;
}

.icon1:hover{
  color: #2e073f;
}
